@import "../theme/index.scss";
@import "../theme/mixin.scss";

$prefix: "welcome" !default;

@include b($prefix) {
  $component-prefix: &;
  display: flex;
  gap: 16px;
  box-sizing: border-box;

  &-icon {
    height: 58px;
    display: flex;

    img {
      max-width: 100%;
      height: 100%;
    }
  }

  &-content-wrapper {
    flex: auto;
    gap: var(--padding-xs);
    width: 0;
    display: flex;
    align-items: stretch;
    flex-direction: column;

    #{$component-prefix}-title {
      color: var(--color-text-heading);
      word-break: break-word;
      font-size: var(--font-size-heading-4);
      line-height: var(--line-height-heading-4);

      h4 {
        margin: 0;
        padding: 0;
      }

      &.extra {
        display: flex;
        align-items: flex-start;
        gap: var(--padding-xs);
      }

      #{$component-prefix}-extra {
        margin-inline-start: auto;
      }
    }

    &-description {
      font-size: var(--font-size);
      color: var(--color-text);
      line-height: var(--line-height);
      word-break: break-word;
      box-sizing: border-box;
    }
  }

  &#{&}-filled {
    padding-inline: 16px;
    padding-block: 12px;
    border-radius: 8px;
    background: rgba(var(--light), 0.12);
    padding-inline: var(--padding);
    padding-block: var(--padding-sm);
    border-radius: var(--border-radius-lg);
  }

  &#{&}-borderless {
    #{$component-prefix}-title {
      font-size: var(--font-size-heading-3);
      line-height: var(--line-height-heading-3);
    }
  }
}
