@import '../theme/index.scss';
@import '../theme/mixin.scss';

$prefix: 'prompts' !default;

@include b($prefix) {
  $component-prefix: &;
  max-width: 100%;
  box-sizing: border-box;
  * {
    box-sizing: border-box;
  }
  &-title {
    margin-block-start: 0;
    font-weight: normal;
    color: var(--color-text-tertiary);
    margin-bottom: 0.5em;
    font-size: $font-size-lg;
    line-height: $line-height-lg;
  }
  &-list {
    display: flex;
    gap: $padding-sm;
    overflow-x: scroll;
    &::-webkit-scrollbar {
      display: none;
    }
    list-style: none;
    padding-inline-start: 0;
    margin-block: 0;
    align-items: stretch;
    &#{&}-wrap {
      flex-wrap: wrap;
    }
    &#{&}-vertical {
      flex-direction: column;
      align-items: flex-start;
      #{$component-prefix}-item {
        align-items:  center;
      }
    }
  }

  &-item {
    flex: none;
    display: flex;
    gap: $padding-xs;
    height: auto;
    padding-block: $padding-sm;
    padding-inline: $padding;
    align-items: flex-start;
    justify-content: flex-start;
    border-radius: $border-radius-lg;
    background: $border-radius-lg;
    transition: border $motion-duration-slow, background $motion-duration-slow;
    border: $line-width $line-type var(--border-secondary);
  }
  &-item:not(#{$component-prefix}-item-has-nest) {
    &:hover {
      cursor: pointer;
      background: var(--color-fill-tertiary);
    }
    &:active {
      background: var(--color-fill);
    }
  }
  &-content {
    flex: auto;
    min-width: 0;
    display: flex;
    gap: $padding-xxs;
    flex-direction: column;
  }
  &-icon,
  &-label,
  & &-desc {
    margin: 0;
    padding: 0;
    font-size: $font-size;
    line-height: $line-height;
    text-align: start;
    white-space: normal;
  }
  &-label {
    font-weight: 500;
  }
  &-label + &-desc {
    color: var(--color-text-tertiary);
  }
  &-item-disabled {
    pointer-events: none;
    background: var(--color-fill);
    #{$component-prefix}-label,
    #{$component-prefix}-desc {
      color: var(--color-text-tertiary);
    }
  }

  &-item-has-nest {
    &>#{$component-prefix}-content {
      &>#{$component-prefix}-label {
        font-size: $font-size-lg;
        line-height: $line-height-lg;
      }
    }
  }

  &-nested {
    margin-top: $padding-xs;
    align-self: stretch;

    @include b(#{$prefix}-list) {
      align-items: stretch;
    }

    @include b(#{$prefix}-item) {
      border: 0;
      background: var(--color-fill-quaternary);
    }
  }
}
@include b(#{$prefix}-rtl) {
  direction: rtl;
}
