@import '../theme/index';
@import '../theme/mixin';

$prefix: 'prompts' !default;

@include b($prefix) {
  $component-prefix: &;

  box-sizing: border-box;
  max-width: 100%;

  * {
    box-sizing: border-box;
  }

  &-title {
    margin-block-start: 0;
    margin-bottom: 0.5em;
    font-size: $font-size-lg;
    font-weight: normal;
    line-height: $line-height-lg;
    color: var(--color-text-tertiary);
  }

  &-list {
    display: flex;
    gap: $padding-sm;
    align-items: stretch;
    padding-inline-start: 0;
    margin-block: 0;
    overflow-x: scroll;
    list-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
    &#{&}-wrap {
      flex-wrap: wrap;
    }
    &#{&}-vertical {
      flex-direction: column;
      align-items: flex-start;
      #{$component-prefix}-item {
        align-items: center;
      }
    }
  }

  &-item {
    display: flex;
    flex: none;
    gap: $padding-xs;
    align-items: flex-start;
    justify-content: flex-start;
    height: auto;
    padding-block: $padding-sm;
    padding-inline: $padding;
    background: $border-radius-lg;
    border: $line-width $line-type var(--border-secondary);
    border-radius: $border-radius-lg;
    transition:
      border $motion-duration-slow,
      background $motion-duration-slow;
  }
  &-item:not(#{$component-prefix}-item-has-nest) {
    &:hover {
      cursor: pointer;
      background: var(--color-fill-tertiary);
    }

    &:active {
      background: var(--color-fill);
    }
  }

  &-content {
    display: flex;
    flex: auto;
    flex-direction: column;
    gap: $padding-xxs;
    min-width: 0;
  }

  &-icon,
  &-label,
  & &-desc {
    padding: 0;
    margin: 0;
    font-size: $font-size;
    line-height: $line-height;
    text-align: start;
    white-space: normal;
  }

  &-label {
    font-weight: 500;
  }

  &-label + &-desc {
    color: var(--color-text-tertiary);
  }

  &-item-disabled {
    pointer-events: none;
    background: var(--color-fill);
    #{$component-prefix}-label,
    #{$component-prefix}-desc {
      color: var(--color-text-tertiary);
    }
  }

  &-item-has-nest {
    & > #{$component-prefix}-content {
      & > #{$component-prefix}-label {
        font-size: $font-size-lg;
        line-height: $line-height-lg;
      }
    }
  }

  &-nested {
    align-self: stretch;
    margin-top: $padding-xs;

    @include b(#{$prefix}-list) {
      align-items: stretch;
    }

    @include b(#{$prefix}-item) {
      background: var(--color-fill-quaternary);
      border: 0;
    }
  }
}

@include b(#{$prefix}-rtl) {
  direction: rtl;
}
